/**
 * @name VanillyNeko REDO!!!!
 * @author VanillyNeko & Leigh Magee
 * @version 0.0.1
 * @description Description
 * @website https://www.vanillyneko.com/
 * @source https://github.com/arty01238/Theme-For-CrapCord/
**/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root{
    --backgroundImage: url(https://vnil.me/spy-x-family-anya-forger-anime-desktop-wallpaper-preview.jpg);
}

.message-content {font-size: 120%}
.message-content {color: black;}
.message-content {font-family: Pacifico;}
.message-content {line-height: 1.5;}
.user-name {font: bold 16px/30px Pacifico;}

body {
    background-image: var(--backgroundImage);
  }