/**
 * @name VanillyNeko REDO!!!!
 * @author VanillyNeko & Leigh Magee
 * @version 0.0.1
 * @description A theme that I am trying to make self reliant on only itself, Its failing...
 * @donate https://paypal.me/vanillyneko
 * @website https://www.vanillyneko.com/
 * @source https://github.com/arty01238/Theme-For-CrapCord/
**/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root{
    /* Colour Implementation */
    --text-normal: rgb(255, 255, 255);
    --header-primary: rgb(255, 255, 255);
    --header-secondary: rgb(255, 255, 255);
    --text-muted: rgb(255, 255, 255);
    --channels-default: rgb(255, 255, 255);
    --interactive-active: rgb(255, 255, 255);
    --interactive-muted: rgb(255, 255, 255);
    --interactive-hover: rgb(255, 255, 255);
    --interactive-normal: rgb(255, 255, 255);
    --background-tertiary: rgba(71, 16, 99, 0.089);
    --background-floating: rgb(170, 0, 255);
    --bg-overlay-app-frame: rgba(255, 255, 255, 0);
    --font-primary: rgb(255, 255, 255);
    --transparency-color-_v: rgb(255, 255, 255);
    --theme-h: rgb((255, 224, 25) + 5%);
    --theme-s: rgb((75, 25, 255) + 10%);
    --theme-1: rgba((255, 224, 25, 0.801) - 5%);
    --elevation-high: rgb(255, 255, 255);
	
    /* Background */
    --background: url('https://vnil.me/anya-darkened.jpg') !important;
    --backgroundposition:			center;
    --backgroundsize:			         cover;
    
    /* Font */
    --Chat-Font-Used: 'Pacifico', normal ;
    --Chat-Font-Size: 15.5px;
    --Category-Font-Colour: rgb(255, 255, 255);
    --Unread-Chan-Font-Colour: rgb(255, 255, 255);
    --Default-Channel-Text: rgb(255, 255, 255);
    --Muted-Channel-Text: rgb(255, 255, 255);
    
    /* Home Icon */
    --home-icon-image: url('https://vnil.me/1.png');
    --home-icon-image-zoom: 100%;
    --home-icon-image-position: center center;
}

/* Font Is Implemented Here! */
:not([class="hljs"]):not(code)
{
    font-family: var(--Chat-Font-Used)!important;
    category-title-text-color: var(--Category-Font-Colour) !important;
    unread-channel-text: var(--Unread-Chan-Font-Colour) !important;
    default-channel-text: var(--Default-Channel-Text) !important;
    muted-channel-text: var(--Muted-Channel-Text) !important;
}
    
.markup:not(code) 
{
    font-size: var(--Chat-Font-Size)!important;
    
}

/* Background Variable Implemented */
body
{
    background: var(--background) !important;
    background-position: var(--backgroundposition) !important;
    background-repeat: no-repeat !important;
    background-size: var(--backgroundsize) !important;
    opacity: var(--backgroundOpacity);
    filter: blur(var(--backgroundBlur));
}

/* More Colour Allocation */
.link__2e8e1
{
    color: rgb(255, 255, 255);
}

.layerContainer_d5a653
{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.281);

}

/* Title Bar Text (Could Be Removed If You Learn To Hate It) */
#app-mount .typeWindows__5fa63 
{
    background-color: rgba(234, 164, 255, 0.315); 
    border-bottom: 2px solid var(--primary3-colour); 
    height: 30px;
    margin: 0px;
}

#app-mount .typeWindows__5fa63:after 
{
    content: "Anya Theme v1 By VanillyNeko";
    color: rgb(255, 255, 255);
    font-weight: 500;

    position: absolute;
    top: 8px;
    left: 43.2%;
}

/* NANI SCREW OFF HOME ICON */
.tutorialContainer__890ea .childWrapper__01b9c 
{
    background: var(--home-icon-image) !important;
    background-position: var(--home-icon-image-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--home-icon-image-zoom) !important;
}

.tutorialContainer__890ea
.listItem_fa7b36
.listItemWrapper__1f93b
.wrapper_d281dd
svg 
{ 
    display: none;
}
