/**
 * @name VanillyNeko REDO!!!!
 * @author VanillyNeko & Leigh Magee
 * @version 0.0.1
 * @description A theme that I am trying to make self reliant on only itself, Its failing...
 * @donate https://paypal.me/vanillyneko
 * @website https://www.vanillyneko.com/
 * @source https://github.com/arty01238/Theme-For-CrapCord/
**/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root{
    /* Colour Implementation */
    /* --text-normal: rgb(255, 255, 255);
    --header-primary: rgb(255, 255, 255);
    --header-secondary: rgb(255, 255, 255);
    --text-muted: rgb(255, 255, 255);
    --channels-default: rgb(255, 255, 255);
    --interactive-active: rgb(255, 255, 255);
    --interactive-muted: rgb(255, 255, 255);
    --interactive-hover: rgb(255, 255, 255);
    --interactive-normal: rgb(255, 255, 255);
    --background-tertiary: rgba(71, 16, 99, 0.089);
    --background-floating: rgb(170, 0, 255);
    --bg-overlay-app-frame: rgba(0, 0, 0, 0.027);
    --font-primary: rgb(255, 255, 255);
    --transparency-color-_v: rgb(255, 255, 255);
    --theme-h: rgb((255, 224, 25) + 5%);
    --theme-s: rgb((75, 25, 255) + 10%);
    --theme-1: rgba((255, 224, 25, 0.801) - 5%);
    --elevation-high: rgb(255, 255, 255); */
    /* ACCENT COLORS */
    --main-color: #2780e6; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
    --hover-color: #2066b6; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
    --success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
    --danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
    --url-color: var(--main-color); /*The color of url links [default: var(--main-color)]*/

    /* Transparent Discord */
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-tertiary: transparent !important;
    --background-tertiary-alt: transparent !important;
    --background-accent: transparent !important;
  
    /* STATUS COLORS */
    --online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
    --idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
    --dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
    --streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
    --offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

    /* GENERAL */
    --main-font: Pacifico; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
    --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
    --text-normal: rgb(232, 232, 233); /* color of default discord text */
    --text-muted: rgb(114, 118, 125); /* color of default discord muted text (e.g.text found in input fields before typing).*/
    --channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
    --members-width: 240px; /* member list width [default: 240px] */

    /* CHANNEL COLORS */
    --channel-unread: var(--main-color); /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
    --channel-color: rgba(93, 52, 131, 0.616); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
    --channel-text-selected: rgb(255, 255, 255); /* Selected channel text color, CV default is #fff */
    --muted-color: rgba(255, 255, 255, 0.1); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/

    /* MODAL BACKDROP */
    --backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
    --backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(--background-image)] */
    --backdrop-position: var(--background-position); /* modal backdrop position [default: var(--background-position)] */
    --backdrop-size: var(--background-size); /* modal backdrop size [default: var(--background-size)] */
    --backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(--background-repeat)] */
    --backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
    --backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
    --backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(--background-contrast)] */
    --backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(--background-saturation)] */
    --backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(--background-invert)] */
    --backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(--background-grayscale)] */
    --backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(--background-sepia)] */

    /* Background */
    --background: url('https://vnil.me/anya-darkened.jpg') !important;
    --backgroundposition:			center;
    --backgroundsize:			         cover;

    
    /* HOME BUTTON ICON */
    --home-icon-image: url(https://vnil.me/1.png);
    --home-icon-image-zoom: 100%;
    --home-icon-image-position: center center;
    
    /* Font */
    --Chat-Font-Used: 'Pacifico', normal ;
    --Chat-Font-Size: 15.5px;
    --Category-Font-Colour: rgb(255, 255, 255);
    --Unread-Chan-Font-Colour: rgb(255, 255, 255);
    --Default-Channel-Text: rgb(255, 255, 255);
    --Muted-Channel-Text: rgb(255, 255, 255);
}

/* Font Is Implemented Here! */
:not([class="hljs"]):not(code)
{
    font-family: var(--Chat-Font-Used)!important;
    category-title-text-color: var(--Category-Font-Colour) !important;
    unread-channel-text: var(--Unread-Chan-Font-Colour) !important;
    default-channel-text: var(--Default-Channel-Text) !important;
    muted-channel-text: var(--Muted-Channel-Text) !important;
}
    
.markup:not(code) 
{
    font-size: var(--Chat-Font-Size)!important;
    
}

/* Background Variable Implemented */
body
{
    background: var(--background) !important;
    background-position: var(--backgroundposition) !important;
    background-repeat: no-repeat !important;
    background-size: var(--backgroundsize) !important;
    opacity: var(--backgroundOpacity);
    filter: blur(var(--backgroundBlur));
}

/* More Colour Allocation */
.link__2e8e1
{
    color: rgb(255, 255, 255);
}

.layerContainer_d5a653
{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.281);

}

/* Title Bar Text (Could Be Removed If You Learn To Hate It) */
#app-mount .typeWindows__5fa63 
{
    background-color: rgba(234, 164, 255, 0.315); 
    border-bottom: 2px solid var(--primary3-colour); 
    height: 30px;
    margin: 0px;
}

#app-mount .typeWindows__5fa63:after 
{
    content: "Anya Theme v1 By VanillyNeko";
    color: rgb(255, 255, 255);
    font-weight: 500;

    position: absolute;
    top: 8px;
    left: 43.2%;
}

/* NANI SCREW OFF HOME ICON */
.tutorialContainer__890ea .childWrapper__01b9c 
{
    background: var(--home-icon-image) !important;
    background-position: var(--home-icon-image-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--home-icon-image-zoom) !important;
}

.tutorialContainer__890ea
.listItem_fa7b36
.listItemWrapper__1f93b
.wrapper_d281dd
svg 
{ 
    display: none;
}
